
TELEGRAM_TOKEN=7887554136:AAGc3mlvffk3WxVm0QnN9dfoAuz_0ojJSIA  
SUPABASE_URL=https://kbfkqmpfsqjhsgzfpjxl.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtiZmtxbXBmc3FqaHNnemZwanhsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDM5MzMyMTEsImV
SENTRY_DSN=https://35a54c89b9fee985ab63daeae594a4ec@o4509084697821184.ingest.de.sentry.io/4509325378191440

